body {
    padding-top: 50px;
    padding-bottom: 10px;
}
#dw__search #qsearch__in {
    margin-right: 10px;
}
ul.nav li form {
    padding-top: 7px;
    padding-right: 10px;
    margin-bottom: 0px !important;
}
.small-form form {
    padding-right: 0px;
    margin-bottom: 0px !important;
}
a.wikilink2 {
    color: red;
    text-decoration: underline !important;
}
textarea#wiki__text {
	width: 100%;
	height: 480px;
}
.secedit {
	float: right;
	text-align: right;
	position: relative;
	top: -2em;
}
